.form-field {
  margin-bottom: 25px !important;
}

.MuiDataGrid-row button {
  visibility: hidden;
}

.MuiDataGrid-row:hover button {
  visibility: visible;
}

form {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .MuiFormControl-root {
  min-width: 200px;
  max-width: 500px;
  margin-bottom: 25px;
}
